<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="test.java.testathon.framework.TestListeners"/>
<!--		<listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener" />-->
	</listeners>

    <test thread-count="2" name="TestChromeEmulator" parallel="methods">
        <parameter name="env" value="local-chrome-emulator"/>
        <parameter name="env_params" value="deviceName=Nexus 5"/>
        <classes>
            <class name="test.java.testathon.tests.UITestWordPressApp"/>
        </classes>
    </test>

    <!--
    <test thread-count="2" name="TestChromeBrowserStack" parallel="methods">
        <parameter name="env" value="remote-cloud" />
        <parameter name="env_params" value="os=Windows,os_version=10,browser=chrome,browser_version=80,name=TestWordPressApp" />
        <classes>
            <class name="test.java.testathon.tests.UITestWordPressApp" />
        </classes>
    </test>

    <test thread-count="2" name="TestChromeEmulator" parallel="methods">
        <parameter name="env" value="local-chrome-emulator" />
        <parameter name="env_params" value="deviceName=Nexus 5" />
        <classes>
            <class name="test.java.testathon.tests.UITestWordPressApp" />
        </classes>
    </test>

    <test thread-count="2" name="TestChrome" parallel="methods">
        <parameter name="env" value="local-chrome" />
        <classes>
            <class name="test.java.testathon.tests.UITestWordPressApp" />
        </classes>
    </test>

    <test thread-count="2" name="TestChromeRemoteDockerGrid" parallel="methods">
        <parameter name="env" value="remote-grid"/>
        <parameter name="env_params" value="browser=chrome"/>
        <classes>
            <class name="test.java.testathon.tests.UITestWordPressApp"/>
        </classes>
    </test>

 -->
</suite>
